@import "_variables.scss";
@import "_mixins.scss";
@import "_jennasue-font.scss";

// Global Components

body {
    @include serif;
    font-size: 20px;
    color: $gray-dark;
}

// -- Typography

p {
    line-height: 1.5;
    margin: 30px 0;
    a {
        text-decoration: underline;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include headings;
    font-weight: 800;
}

h3 {
    font-size: 46px;
}

a {
    color: $gray-dark;
    @include transition-all;
    
    &:hover,
    &:focus {
        color: $brand-primary;
    }
}

a img {
    &:hover,
    &:focus {
        cursor: zoom-in;
    }
}

blockquote {
    color: $gray;
    font-style: italic;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: white;
}

// Navigation

.navbar-custom {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    @include sans-serif;
    .navbar-brand {
        @include headings;
        font-size: 34px;
    }
    .nav {
        li {
            a {
                font-size: 16px;
                letter-spacing: 1px;
                position: relative;
                text-decoration: none;
            }
        }
    }
    @media only screen and (min-width: 768px) {
        background: transparent;
        border-bottom: 1px solid transparent;
        .navbar-brand {
            color: white;
            padding: 20px;
            &:hover,
            &:focus {
                color: $white-faded;
            }
            text-shadow: 2px 2px 5px #333;
        }
        .nav {
            li {
                a {
                    color: white;
                    padding: 0;
                    margin: 20px;
                    text-shadow: 2px 2px 5px #333;
                    
                    &:hover,
                    &:focus {
                        color: $white-faded;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: $white-faded;
                        box-shadow: 2px 2px 5px #333;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                    }

                    &:hover:before {
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1170px) {
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &.is-fixed {
            /* when the user scrolls down, we hide the header right above the viewport */
            position: fixed;
            top: -61px;
            background-color: rgba(white, .9);
            border-bottom: 1px solid darken(white, 5%);
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
            transition: transform 0.3s;
            .navbar-brand {
                color: $gray-dark;
                &:hover,
                &:focus {
                    color: $brand-primary;
                }
                text-shadow: none;
            }
            .nav {
                li {
                    a {
                        color: $gray-dark;
                        &:hover,
                        &:focus {
                            color: $brand-primary;
                        }
                        text-shadow: none;
                    }
                }
            }
        }
        &.is-visible {
            /* if the user changes the scrolling direction, we show the header */
            -webkit-transform: translate3d(0, 100%, 0);
            -moz-transform: translate3d(0, 100%, 0);
            -ms-transform: translate3d(0, 100%, 0);
            -o-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
            @include box-shadow(0 0 20px #333);
        }
    }
}

// Header

.intro-header {
    background: no-repeat center center;
    background-color: transparent;
    background-attachment: scroll;
    @include background-cover;
    // NOTE: Background images are set within the HTML using inline CSS!
    @include box-shadow(inset 0px -10px 20px -10px #333);
    margin-bottom: 50px;
    .site-heading,
    .post-heading,
    .page-heading {
        padding: 100px 0 50px;
        color: white;
        @media only screen and (min-width: 768px) {
            padding: 150px 0;
        }
    }
    .site-heading,
    .page-heading {
        text-align: right;
        h1 {
            margin-top: 0;
            font-size: 50px;
            -webkit-animation: 0.5s .25s fade backwards ease-out;
            animation: .5s .25s fade backwards ease-out;
            text-shadow: 2px 2px 5px #333;
        }
        hr {
            text-align: right;
            margin-right: 0;
            -webkit-animation: fade .5s .5s backwards ease-out;
            animation: fade .5s .5s backwards ease-out;
        }
        .subheading {
            font-size: 24px;
            line-height: 1.1;
            display: block;
            @include sans-serif;
            font-weight: 300;
            margin: 10px 0 0;
            -webkit-animation: fade .5s .5s backwards ease-out;
            animation: fade .5s .5s backwards ease-out;
            text-shadow: 2px 2px 5px #333;
        }
        @media only screen and (min-width: 768px) {
            h1 {
                font-size: 80px;
            }
        }
    }
    .post-heading {
        h1 {
            font-size: 50px;
            -webkit-animation: 0.5s .25s fade backwards ease-out;
            animation: .5s .25s fade backwards ease-out;
            text-shadow: 2px 2px 5px #333;
        }
        .subheading,
        .meta {
            line-height: 1.1;
            display: block;
            -webkit-animation: fade .5s .5s backwards ease-out;
            animation: fade .5s .5s backwards ease-out;

            .entry-date .date-suffix {
                  vertical-align: super;
                  font-size: x-small;
            }
        }
        .subheading {
            @include sans-serif;
            font-size: 24px;
            margin: 10px 0 30px;
            font-weight: 600;
            text-shadow: 2px 2px 5px #333;
        }
        .meta {
            @include serif;
            font-style: italic;
            font-weight: 300;
            font-size: 15px;
            a {
                color: white;
            }
        }
        @media only screen and (min-width: 768px) {
            h1 {
                font-size: 80px;
            }
            .subheading {
                font-size: 30px;
            }
        }
    }
}

// Post Preview Pages

.post-preview {
    > a {
        color: $gray-dark;
        &:hover,
        &:focus {
            text-decoration: none;
            color: $brand-primary;
        }
        > .post-title {
            font-size: 60px;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        > .post-subtitle {
            margin: 0;
            font-weight: 300;
            margin-bottom: 10px;
        }
    }
    > .post-meta {
        color: $gray;
        font-size: 18px;
        font-style: italic;
        margin-top: 0;
        > a {
            text-decoration: none;
            color: $gray-dark;
            &:hover,
            &:focus {
                color: $brand-primary;
                text-decoration: underline;
            }
        }
    }
    @media only screen and (min-width: 768px) {
        > a {
            > .post-title {
                // font-size: 60px;
            }
        }
    }
}

// Sections

.section-heading {
    font-size: 36px;
    margin-top: 60px;
    font-weight: 700;
}

.caption {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

footer {
    padding: 50px 0 65px;
    .list-inline {
        margin: 0;
        padding: 0;
    }
    .copyright {
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;
    }
}

// Contact Form Styles

.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $gray-light;
    input,
    textarea {
        z-index: 1;
        position: relative;
        padding-right: 0;
        padding-left: 0;
        border: none;
        border-radius: 0;
        font-size: 1.5em;
        background: none;
        box-shadow: none !important;
        resize: none;
    }
    label {
        display: block;
        z-index: 0;
        position: relative;
        top: 2em;
        margin: 0;
        font-size: 0.85em;
        line-height: 1.764705882em;
        vertical-align: middle;
        vertical-align: baseline;
        opacity: 0;
        -webkit-transition: top 0.3s ease,opacity 0.3s ease;
        -moz-transition: top 0.3s ease,opacity 0.3s ease;
        -ms-transition: top 0.3s ease,opacity 0.3s ease;
        transition: top 0.3s ease,opacity 0.3s ease;
    }
    &:not(:first-child) {
        padding-left: 14px;
        border-left: 1px solid $gray-light;
    }
}

.floating-label-form-group-with-value {
    label {
        top: 0;
        opacity: 1;
    }
}

.floating-label-form-group-with-focus {
    label {
        color: $brand-primary;
    }
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid $gray-light;
}

// Button Styles

.btn {
    @include sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 15px 25px;
}

.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}

.btn-default {
    &:hover,
    &:focus {
        background-color: $brand-primary;
        border: 1px solid $brand-primary;
        color: white;
    }
}

// Pager Styling

.pager {

    margin: 20px 0 0;

    li {
        > a,
        > span {
            @include sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 800;
            letter-spacing: 1px;
            padding: 10px 5px;
            background-color: white;
            border-radius: 0;
            @media only screen and (min-width: 768px) {
                font-size: 14px;
                padding: 15px 25px;
            }
        }

        > a:hover,
        > a:focus {
            color: white;
            background-color: $brand-primary;
            border: 1px solid $brand-primary;
        }
    }

    .disabled {
        > a,
        > a:hover,
        > a:focus,
        > span {
            color: $gray;
            background-color: $gray-dark;
            cursor: not-allowed;
        }
    }
}

// -- Highlight Color Customization

::-moz-selection {
    color: white;
    text-shadow: none;
    background: $brand-primary;
}

::selection {
    color: white;
    text-shadow: none;
    background: $brand-primary;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    webkit-tap-highlight-color: $brand-primary;
}

// Animation keyframes
@-webkit-keyframes fade{
    from {
        transform:translateY(.25em);
        opacity:0;
    }
}
@keyframes fade {
    from {
        transform:translateY(.25em);
        opacity:0
    }
}

// Instafeed
.instafeed-img {
    display: inline-block;
}
.instafeed-img img {
    border-radius: 0;
    margin: 0 5px 9px 0;
    max-width: 88px;
    padding: 5px;
}

// Custom junk
body.index .navbar-brand {
    display: none;
}

@media (min-width: 1200px) {
    .container {
        width: 1210px;
    }
}

html.ios {
    h1, h2, h3, h4, h5, .navbar-custom {
        font-weight: normal;
    }
}

// Octopress date formatting
